<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring My Contact</title>

    <link href="../static/images/logo.png" th:href="@{/images/logo.png}"
          rel="shortcut icon"/>

    <!--Bootstrap link-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <!--Custom style-->
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            th:src="@{/webjars/font-awesome/css/font-awesome.min.css}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>


<body>


<nav id="navbar-main" th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light container">
    <a class="navbar-brand" th:href="@{/contact}">Spring Contact</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/contact}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contact/create}">Create contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<h1>Main content</h1>

<footer th:fragment="footer" class="container">
    &copy; 2018
</footer>
</body>


</html>